
:root {
    --gray: rgb(231, 231, 231);
    --left-padding: 160px;
}


.main-container {
    min-width: 1100px;
    width: 99vw;
}

.main-container__top-bar {
    width: 100%;

    padding: 24px;

    display: flex;

    align-items: center;
    justify-content: space-between;
}

.top-bar__search-container {
    display: flex;

    align-items: center;
}

.search-container__input {
    margin-left: 32px;
}

.top-bar__logo {
    height: 32px;
}

.input-icon {
    margin: 0 5px;

    cursor: pointer;
}

.search-input {
    margin-left: 16px;
}

.top-bar__user-options {
    display: flex;

    align-items: center;
}

.main-container__search-options {
    width: 100%;

    padding-left: calc(var(--left-padding) - 10px);
    padding-bottom: 8px;

    border-bottom: 1px solid;
    border-color: var(--gray);

    display: flex;

    align-items: center;
}

.search-options-container,
.search-options-container__option {
    display: flex;

    align-items: center;
}

.search-options-container {
    margin-right: 64px;
}

.search-options-container__option {
    margin-right: 16px;

    font-size: 14px;
    color: rgb(110, 110, 110);

    cursor: pointer;
}

.option-icon {
    margin-right: 2px;
}

.main-container__search-info {
    max-width: 100%;
    padding: 12px var(--left-padding);

    color: #70757A;
    font-size: 14px;
}

.main-container__search-results {
    max-width: 100%;
    margin-left: var(--left-padding);
}

.search-result {
    width: 600px;

    margin: 8px 0 32px;
}

.search-result__link {
    font-size: 14px;

    color: rgb(32, 33, 36);
}

.search-result__title {
    margin: 4px 0;

    font-size: 20px;

    color: rgb(102, 0, 153);
}

.search-result__description {
    font-size: 14px;
    line-height: 22px;

    color: rgb(77, 81, 86);
}

.main-container__footer {
    padding-left: var(--left-padding);
}